:root {
  --red: #e21833;
  --bronze: #ad7231;
  --grey: #303030;
}

#search_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 10%;
}

input {
  padding: 10px;
  border: 2px solid var(--grey);
  border-radius: 15px;
}

button {
  border: 0;
  padding: 5px;
  border-width: 15px;
  background-color: var(--red);
  border-radius: 30px;
  cursor: pointer;
  
}
